<div class="yt-video-embed" data-yt-url="https://www.youtube.com/embed/{{ url }}?rel=0&showinfo=0&autoplay=1" data-yt-title="{{ title }}">
  <img src="{{ thumbnail }}" async class="play-youtube-video">
  <button class="play-button"></button>
</div>